/* HOME HEADER COMPONENT */

.homePageHeader,
.logo, 
.homePageBtnHeaderContainer {
    display: flex;
}

.homePageHeader,
.logo {
    align-items: center;
}

.homePageHeader {
    width: 100%;
    justify-content: space-between;
    height: 90px;
    background-color: #f2f2f2;
    padding: 0 0.6rem;
    position: sticky;
    top: 0;
    z-index: 100; 
  }
  
  .homePageBtnHeaderContainer {
    gap: 1rem; 
  }
  
  .homePageHeader a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #2f80ed;
    letter-spacing: 0.04rem;
  }
  
  .homePageHeader a:hover {
    color: #1366d6;
  }
  
  
