/* HOME PAGE COMPONENT */

.homePageContainer,
.contentWrapper {
    display: flex;
    flex-direction: column;
}

.homePageContainer {
    min-height: 100vh;
}
  
.contentWrapper {
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    background-image: url('../../images/technology.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.homeTitle {
    font-size: 4rem;
    color: orangered;
}

.homeTitle span {
    color:white;
    font-style: italic;
    text-shadow: 0 0 0.2em orangered, 0 0 0.2em orangered;
}