/* HOME PAGE COMPONENT */

.homePageContainer,
.contentWrapper {
    display: flex;
    flex-direction: column;
}

.homePageContainer {
    min-height: 100vh;
}
  
.contentWrapper {
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(229, 232, 232);
    width: 100%;
}

.homeTitle {
    font-size: 3rem;
    color: #2f80ed;
}

.homeTitle span {
    color:white;
    font-style: italic;
    text-shadow: 0 0 0.2em #1366d6, 0 0 0.2em #1366d6;
}